@{
    ViewData["Title"] = "Crear Producto";
}

<h2>Reporte de Ventas Diarias</h2>

<form method="get" action="@Url.Action("Details", "ReporteVentaDiaria")">
    <div class="form-group">
        <label for="inicio">Fecha de Inicio:</label>
        <input type="date" id="inicio" name="inicio" class="form-control" />
    </div>

    <div class="form-group">
        <label for="fin">Fecha de Fin:</label>
        <input type="date" id="fin" name="fin" class="form-control" />
    </div>

    <div class="form-group">
        <label for="tipoProducto">Tipo de Producto:</label>
        <select class="form-control" id="tipoProducto" name="tipoProducto">
            @foreach (var item in ViewBag.TiposProductos)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Ver Reporte</button>
</form>


@* <a asp-controller="ReporteVentaDiaria" asp-action="Details" asp-route-inicio="Inicio" asp-route-fin="Fin">Generar Reporte</a> *@
