
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Agregar/Editar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="productForm">
            <input type="hidden" id="productReference">
            <div class="form-group">
                <label for="productName">Nombre</label>
                <input type="text" class="form-control" id="productName" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Descripción</label>
                <input type="text" class="form-control" id="productDescription">
            </div>
            <div class="form-group">
                <label for="productType">Tipo de Producto</label>
                <select class="form-control" id="productType">
                    <!-- Opciones de tipo de producto -->
                </select>
            </div>
            <div class="form-group">
                <label for="productMaterial">Material</label>
                <input type="text" class="form-control" id="productMaterial">
            </div>
            <div class="form-group">
                <label for="productDimensions">Dimensiones (Alto x Ancho x Profundidad)</label>
                <div class="form-row">
                    <div class="col">
                        <input type="number" step="0.01" class="form-control" id="productHeight" placeholder="Alto">
                    </div>
                    <div class="col">
                        <input type="number" step="0.01" class="form-control" id="productWidth" placeholder="Ancho">
                    </div>
                    <div class="col">
                        <input type="number" step="0.01" class="form-control" id="productDepth" placeholder="Profundidad">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="productColor">Color</label>
                <input type="text" class="form-control" id="productColor">
            </div>
            <div class="form-group">
                <label for="productWeight">Peso</label>
                <input type="number" class="form-control" id="productWeight">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>