
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<div>
    <p>¿Quiere borrar este producto?</p>
    <button class="btn btn-primary">Sí</button>
    <button class="btn btn-secondary">No</button>
</div>