@{
    ViewData["Title"] = "Reporte";
}

<h1>Reporte</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Producto mas Vendido</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Reporte Compra Por Cliente</h2>
    <p>Fecha generación: <span id="fechaActual"></span></p>
    <p>Cliente: <strong>@Model[0].Cliente</strong> </p>
    <table>
        <thead>
            <tr>
                <th>Fecha de Compra</th>
                <th>Subotal</th>
                <th>Producto</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FechaCompra.ToString("dd/MM/yyyy")</td>
                        <td>@item.SubTotal</td>
                        <td>@item.Nombre</td>

                    </tr>

                }

            }
        </tbody>

    </table>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var today = new Date();
        var day = String(today.getDate()).padStart(2, '0');
        var month = String(today.getMonth() + 1).padStart(2, '0'); // Los meses son de 0 a 11
        var year = today.getFullYear();

        var formattedDate = day + '/' + month + '/' + year;

        document.getElementById('fechaActual').textContent = formattedDate;
    });
</script>
</html>