<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoDB2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoDB2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
        .header {
            background-color: #2F5597;
            color: white;
            padding: 15px;
            text-align: center;
            position: relative;
            width: 100%;
        }
            /* Estilos para la imagen del logo */
            .header img {
                position: absolute;
                top: 10px;
                left: 20px;
                height: 100px;
            }
        /* Estilos para la barra de navegación */
        .nav {
            display: flex;
            justify-content: center;
            background-color: #333;
            width: 100%;
        }

            .nav a {
                padding: 14px 20px;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
            }

                .nav a:hover {
                    background-color: #ddd;
                    color: black;
                }
    </style>
</head>
<body>
    <header>
        <div class="header">
            <!-- Imagen del logo de la empresa -->
            <img src="~/img/GrpA01.png" alt="Muebles La Mesita Feliz">
            <!-- Mensaje de bienvenida -->
            <h1>Bienvenido a MUEBLES LA MESITA FELIZ</h1>
        </div>
        <!-- Barra de navegación -->
        <div class="nav">
            @if (!(Context.Session.GetString("UsernameClient") != null) && !(Context.Session.GetString("UsernameAdmin") != null))
            {

                <a asp-controller="Home" asp-action="Index">Realizar compra</a>
                <a asp-controller="Login" asp-action="Login">Iniciar sesión</a>
                <a asp-controller="Register" asp-action="Register">Registrarse</a>
            }
            @if(Context.Session.GetString("UsernameClient") != null)
            {
                <a asp-controller="Home" asp-action="Index">Realizar compra</a>
                 <a asp-controller="Login" asp-action="Logout">Cerrar sesión</a>
            })
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProyectoDB2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
