@using ProyectoDB2.Entityes
@model AdministradorModel

@{
	ViewData["Title"] = "Crear Administrador";
}

<h1>Creacion</h1>

<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title" id="productModalLabel">Agregar/Editar Producto</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form asp-action="Create" method="post">
			<input type="hidden" id="productReference">
			<div class="form-group">
				<label asp-for="Nombre">Nombre</label>
				<input asp-for="Nombre" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label asp-for="IdUsuario">Nombre de Usuario</label>
				@if (ViewBag.TiposProductos != null)
				{
					<select class="form-control" asp-for="IdUsuario">
						<option value="">Seleccione un Nombre de usuario</option>
						@foreach (var item in ViewBag.TiposUsuario)
						{
							<option value="@item.Id">@item.Usuario</option>
						}
					</select>
				}

			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</div>