@using ProyectoDB2.Entityes
@model AdministradorModel

@{
	ViewData["Title"] = "Modificar";
}

<div class="modal-content mt-4">
	<div class="modal-header">
		<h5 class="modal-title" id="productModalLabel">Agregar/Editar Producto</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form asp-action="Edit" method="post">
			<div class="form-group">
				<label asp-for="Nombre">Referencia</label>
				<input asp-for="Nombre" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label asp-for="IdUsuario">Tipo de Producto</label>
				@if (ViewBag.TiposUsuario != null)
				{
					<select class="form-control" asp-for="IdUsuario">
						<option value="">Seleccione un tipo de producto</option>
						@foreach (var item in ViewBag.TiposUsuario)
						{
							<option value="@item.Id">@item.Usuario</option>
						}
					</select>
				}
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</div>