@model ProyectoDB2.Models.AdminModel

@{
    ViewBag.Title = "Edit Admin";
}

<h1>Editar usuario</h1>

<h4>Administración de usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<br />
<div class="form-group">
    <form action="@Url.Action("Index")" method="get">
        <button type="submit" class="btn btn-success">Regresar a la lista</button>
    </form>
</div>

@*
<div>
    <a href="@Url.Action("Index")">Back to List</a>
</div>
*@