@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form>
    <label for="fieldName">Field Name:</label>
    <input type="text" id="fieldName" name="fieldName">
    <br>
    <input type="submit" value="Submit">
</form>
