@using ProyectoDB2.DTOs
@model TipoClienteDTO

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Tipo de Cliente</h1>

<div>
    <h3>¿Está seguro que desea eliminar el tipo de Cliente '@Model.Nombre'?</h3>
    <form asp-controller="TipoCliente" asp-action="Delete">
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a class="btn btn-secondary" href="@Url.Action("Index", "TipoCliente")">Cancelar</a>
        </div>
    </form>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger mt-5" role="alert">
        <strong>
            No se pudo eliminar el Tipo de Cliente:
        </strong>
        <div>
            @TempData["Error"]
        </div>
    </div>
}
