@{
    ViewData["Title"] = "Crear Reporte";
}

<h2>Reporte Producto mas Vendido</h2>

<form method="get" action="@Url.Action("Details", "ReporteProductoMasVendido")">
    <div class="form-group">
        <label for="inicio">Fecha de Inicio:</label>
        <input type="date" id="inicio" name="inicio" class="form-control" onkeydown="return false;"  />
    </div>

    <div class="form-group">
        <label for="fin">Fecha de Fin:</label>
        <input type="date" id="fin" name="fin" class="form-control" onkeydown="return false;" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Ver Reporte</button>
</form>


@* <a asp-controller="ReporteVentaDiaria" asp-action="Details" asp-route-inicio="Inicio" asp-route-fin="Fin">Generar Reporte</a> *@
